html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-title {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.featured-section {
  display: flex;
  height: 60vh;
  width: 96%;
  margin-bottom: 100px;
}

.featured-list-container {
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.featured-backdrop {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  transition: background-image 0.3s ease-in-out;
}

.featured-movie-title {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: font-size 0.3s ease;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }

  .featured-movie-title {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.featured-backdrop:hover {
  filter: brightness(1.1);
}

.list-container > *:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}