.lists-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.create-container {
  align-self: flex-end;
  padding-right: 5rem;
  margin: 1rem 0;
}

.create-button {
  width: 100%;
  padding-left : 2rem;
  padding-right : 2rem;
  padding-top : 1rem;
  padding-bottom : 1rem;
  background-color: gold;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-button {
  width: 25%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-button {
  width: 25%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: rgb(165, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 80vh; 
}

.movie-lists {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-spacing: 0; 
}

.movie-lists th {
  padding: 25px;
  text-align: center;
  background-color: #6d6d6d;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

.movie-lists td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #313131;
}