.lists-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.edit-button {
  width: 40%;
  padding: 0.75rem;
  margin: 0.25rem;
  background-color: rgb(50, 50, 150);
  color: white;
  border: 1px solid rgb(50, 50, 150);
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgb(30, 30, 100); 
}

.edit-button:hover {
  background-color: rgb(73, 73, 211);
}

.delete-movie-button {
  width: 40%;
  padding: 0.75rem;
  margin: 0.25rem;
  background-color: rgb(165, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(165, 0, 0);
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgb(105, 0, 0);
}

.delete-movie-button:hover {
  background-color: rgb(231, 0, 0);
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 80vh; 
}

.movie-lists {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-spacing: 0; 
}

.movie-lists th {
  font-weight: bold;
  padding: 25px;
  text-align: center;
  background-color: #6d6d6d;
  box-shadow: 0px 4px 2px -2px rgb(0, 0, 0, 0.5);
}

.movie-lists td {
  padding: 10px;
  text-align: center;
  background: linear-gradient(0deg, #505050, #4A4A4A);
  border-bottom: 1px solid #313131;
}